.button {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.button--light {
  border: 2px solid #444;
  background: #ffffff;
  color: #444444;
}

.button--dark {
  background: #63d1bb;
  border: none;
}
