.htmlacademy-logo {
  align-items: center;
  display: flex;
  padding: 22px 39px 23px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 182px;
  }
}

.htmlacademy-logo__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding-bottom: 6px;
  }
}

.htmlacademy-logo__svg {
  color: #63d1bb;
}
