.main-header {
  @media (min-width: @tablet-width) {
    background: linear-gradient(#ffffff 88px,#ececec 2px,#f1f1f1 90px);
  }

  &--index {
    @media (min-width: @tablet-width) {
      background: linear-gradient(#ffffff 88px,#ececec 2px,#f9f9f9 90px);
    }
  }
}

.main-header__nav {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-header__container {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 668px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}
