.main-header__container {
  position: relative;
  height: 78px;
  border-bottom: 1px solid #ececec;

  @media (min-width: @tablet-width) {
    height: 88px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(57%) translateX(-51%);

  @media (min-width: @tablet-width) {
    top: -7px;
    left: 58px;
  }

  @media (min-width: @desktop-width) {
    top: -34px;
    left: 50%;
  }
}
