.checkbox__label {
  .label;
  position: relative;
  padding: 11px 0 10px 61px;

  @media (min-width: @tablet-width) {
    padding: 10px 0 11px 82px;
  }
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  border: 2px solid #444444;

  @media (min-width: @tablet-width) {
    left: 0;
    width: 48px;
    height: 48px;
    top: -5px;
  }

  @media (min-width: @desktop-width) {
    top: -9px;
  }
}

.checkbox__item {
  min-height: 38px;
  align-items: center;
  display: flex;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 216px;
    margin-bottom: 37px;
  }
}
